body {
    background-color: var(--color-background-black);
}

main {
    margin: 0 3rem;
    color: var(--color-rosa);
}

hr {
    border: 1px solid var(--color-rosa);
}

/* Font-Styling */

.secHeader {
    font-size: 2.2rem;
    font-family: 'Scto_Bold';
}

.secTitle {
    font-size: 1.5rem;
    font-family: 'Scto_Bold';
}

.secNr {
    font-size: 3.7rem;
    font-family: 'Scto_Bold';
}

/* ! Section 1 */

.sec1 {
    display: flex;
    gap: 30%;
    margin: 2rem 0;
}

.sec1 div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 2rem;
}

.sec1 h2 {
    width: 50%;
}

.sec1 p {
    width: 90%;
}

/*  ! Section 2 */

.sec2 {
    position: relative;
    height: 100vh;
}

.sec2 img {
    width: 20rem;
}

.sec2 div:nth-of-type(1) {
    width: 15rem;
    height: max-content;
    position: absolute;
    inset: 0;
    margin: auto 0;
}

.sec2 div:nth-of-type(2), .sec2 div:nth-of-type(3), .sec2 div:nth-of-type(4), .sec2 div:nth-of-type(5) {
    position: absolute;
    right: 0;
}

.sec2 div:nth-of-type(4) {
    right: 50rem;
    top: 7rem;
}

.sec2 div:nth-of-type(5) {
    right: 45rem;
    top: 20rem;
}

.sec2 div:nth-of-type(3) {
    right: 37rem;
    top: 12.5rem;
    display: flex;
    gap: 0.5rem;
}

.sec2 div:nth-of-type(2) {
    right: 27rem;
    top: 25rem;
}

/* Hover on Images in z-direction */

.sec2 div:nth-of-type(4):hover {
    z-index: 1;
}

.sec2 div:nth-of-type(3):hover {
    z-index: 2;
}

.sec2 div:nth-of-type(2):hover {
    z-index: 3;
}

/* ! Basic Logo */

.logoBasic {
    width: 33%;
    margin: 2rem 0;
}

.devider {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

/* ! Section 3 */

.sec3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "agency people offices"
    ". years growth"
    ". services ranking";
    gap: 5rem 0;
    margin: 3rem 0;
}

.sec3 div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gridL {
    grid-area: agency;
    width: 50%;
    margin-top: 2rem;
}

.gridM1 {
    grid-area: people;
    width: 47%;
}

.gridR1 {
    grid-area: offices;
    width: 47%;
}

.gridM2 {
    grid-area: years;
    width: 47%;
}

.gridR2 {
    grid-area: growth;
    width: 47%;
}

.gridM3 {
    grid-area: services;
    width: 47%;
}

.gridR3 {
    grid-area: ranking;
    width: 47%;
}