* {
    text-decoration: none;
}

body {
    background-color: var(--color-background-black);
}

main {
    margin: 0 3rem;
    color: var(--color-rosa);
}

hr {
    border: 1px solid var(--color-rosa);
}

/* General Font-Stylings */

.secHeader {
    font-size: 2.2rem;
    font-family: 'Scto_Bold';
}

.secTitle {
    font-size: 1.5rem;
    font-family: 'Scto_Bold';
}

.secNr {
    font-size: 3.7rem;
    font-family: 'Scto_Bold';
}

/* ! Section 1 */

/* sec1 is positioned with display flex */

.sec1 {
    display: flex;
    gap: 30%;
    margin: 2rem 0;
}

.sec1 div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 2rem;
}

.sec1 h2 {
    width: 50%;
}

.sec1 p {
    width: 90%;
}

/*  ! Section 2 */

/* sec2 hast 4 images that have an absolute position that is relative to its parent section container. */

.sec2 {
    position: relative;
    height: 100vh;
}

.sec2 img {
    width: 20rem;
}

.sec2 div:nth-of-type(1) {
    width: 15rem;
    height: max-content;
    position: absolute;
    inset: 0;
    margin: auto 0;
}

.sec2 div:nth-of-type(2), .sec2 div:nth-of-type(3), .sec2 div:nth-of-type(4), .sec2 div:nth-of-type(5) {
    position: absolute;
    right: 0;
}

.sec2 div:nth-of-type(4) {
    right: 50rem;
    top: 7rem;
}

.sec2 div:nth-of-type(5) {
    right: 45rem;
    top: 20rem;
}

.sec2 div:nth-of-type(3) {
    right: 37rem;
    top: 12.5rem;
    display: flex;
    gap: 0.5rem;
}

.sec2 div:nth-of-type(2) {
    right: 27rem;
    top: 25rem;
}

/* Hover on Images in z-direction */

.sec2 div:nth-of-type(4):hover {
    z-index: 1;
}

.sec2 div:nth-of-type(3):hover {
    z-index: 2;
}

.sec2 div:nth-of-type(2):hover {
    z-index: 3;
}

/* ! Basic Logo */

.logoBasic {
    width: 33%;
    margin: 2rem 0;
}

.devider {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

/* ! Section 3 */

/* sec3 is styled with a display grid. Each grid has an own styling with display flex. */

.sec3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "agency people offices"
    ". years growth"
    ". services ranking";
    gap: 5rem 0;
    margin: 3rem 0;
}

.sec3 div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gridL {
    grid-area: agency;
    width: 50%;
    margin-top: 2rem;
}

.gridM1 {
    grid-area: people;
    width: 47%;
}

.gridR1 {
    grid-area: offices;
    width: 47%;
}

.gridM2 {
    grid-area: years;
    width: 47%;
}

.gridR2 {
    grid-area: growth;
    width: 47%;
}

.gridM3 {
    grid-area: services;
    width: 47%;
}

.gridR3 {
    grid-area: ranking;
    width: 47%;
}

/* ! Section 4 */

/* sec4 is styled with a display grid. Each grid has an own styling with display flex. */

.sec4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "capab planning ux"
    ". bx technology"
    ". cc .";
    gap: 5rem 0;
    margin: 3rem 0;
}

.sec4 div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec4GridL {
    grid-area: capab;
    width: 50%;
    margin-top: 2rem;
}

.sec4GridM1 {
    grid-area: planning;
    width: 47%;
}

.sec4GridR1 {
    grid-area: ux;
    width: 47%;
}

.sec4GridM2 {
    grid-area: bx;
    width: 47%;
}

.sec4GridR2 {
    grid-area: technology;
    width: 47%;
}

.sec4GridM3 {
    grid-area: cc;
    width: 47%;
}

/* ! Section 5  */

/* Sec5 first with flex and then with desiplay grid */

.sec5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30rem;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1, max-content;
    grid-template-areas: 
    "awards text";
    margin: 3rem 0;
}

.sec5GridL {
    grid-area: awards;
    margin-top: 2rem;
}

.sec5GridM {
    grid-area: text;
    width: 80%;
}

.sec5GridM p {
    font-size: 1.9rem;
    font-family: 'Scto_Bold';
    line-height: 1.5;
}

/* Design of button with hover effect */

.button {
    margin-top: 4rem;
    background-color: transparent;
    color: var(--color-rosa);
    font-family: 'Scto_Regular';
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--color-rosa);
    padding: 1rem 3rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-rosa);
    color: var(--color-background-black);
    transition-delay: 0.1s;
}

/* Awards listed on left side */

.awards {
    margin-top: 5rem;
}

.awards p {
    font-size: 4rem;
    color: var(--color-rosa);
    font-family: 'Scto_Bold';
    opacity: 0.5;
    position: relative;
    width: 40rem;
}

.awards span {
    font-size: 1rem;
    position: absolute;
    top: 0;
}

/* images will be shown on hover. First they have an opacity of 0. Every image has an own position relative to the parent div container */

.sec5 img {
    width: 30rem;
    position: absolute;
    right: 10rem;
}

.sec5 img:nth-of-type(1) {
    top: 20rem;
    opacity: 0;
}

.sec5 img:nth-of-type(2) {
    top: 25rem;
    opacity: 0;
}

.sec5 img:nth-of-type(3) {
    top: 30rem;
    opacity: 0;
}

.sec5 img:nth-of-type(4) {
    top: 35rem;
    opacity: 0;
}

.sec5 img:nth-of-type(5) {
    top: 40rem;
    opacity: 0;
}

.sec5 img:nth-of-type(6) {
    top: 45rem;
    opacity: 0;
}

/* Hover Effect on awards showing images */

.awards p:hover {
    opacity: 1;
}

.awards p:nth-of-type(1):hover~.img1 {
    opacity: 1;
}

.awards p:nth-of-type(2):hover~.img2 {
    opacity: 1;
}

.awards p:nth-of-type(3):hover~.img3 {
    opacity: 1;
}

.awards p:nth-of-type(4):hover~.img4 {
    opacity: 1;
}

.awards p:nth-of-type(5):hover~.img5 {
    opacity: 1;
}

.awards p:nth-of-type(6):hover~.img6 {
    opacity: 1;
}