* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 3rem;
}

/* !section 1 */
.header-sec {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;
}
.null-img {
    width: 50rem;
   
}

.text-div-flex {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

}
.head-text-h1 {
    width: 15rem;
}
.head-text-div-flex {
    display: flex;
    gap: 12rem;
}
.punkt {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}

.head-4-div-text {
    display: flex;
    gap: 5rem;
}
.head-text-2-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.head-text-2-div div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* !trennlinie */

.sec2-2-div-row-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.punkt-klein {
    width: 0.75rem; 
    height: 0.75rem;
    background-color: black;
    border-radius: 50%;
}

/* !section 2 */

.office-div-flex {
    display: flex;
    margin-top: 1rem;
}
.ofi-div {

    width: 33.3%;
}
.office-sec-div {
    display: flex;
    gap: 2rem;
}
.divdiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.p-div {
    display: flex;
    justify-content: space-between;
}
.line {
    margin-right: 1rem;
}
.line2 {
    margin-bottom: 1rem;
}

/* !trennlinie */

.line3 {
    margin-top: 2rem;
}
/* !section 3 */
.sec3-2-div-row-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.sec2-2-div-row-flex {
    display: flex;
    justify-content: space-between;
}
/* !section 3 article */

.sec3-div-row-flex {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.borderless {
    border: 0;
}
.h3-small {
    margin-bottom: 0.5rem;
}


.a-list  a li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
