/* * Start Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1680px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem 2rem;
}
.header img {
    height: 18.5px;
    width: 80px;
}
.nav__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.nav__header a {
    font-family: 'Scto_Regular';
    font-size: 0.8125rem;
    color: var(--color-black);
    text-decoration: none;
}
.div__points {
    display: flex;
    flex-direction: row;
    gap:4px
}
.div__points div {
    background-color: var(--color-black);
    height: 6px;
    width: 6px;
    border-radius: 6px;
}

/* ! Header erledigt */